 * {
  box-sizing: border-box;
}

/* Classe Rapide */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}


/* APP.JS */

.home {
  --gap:0;
}

/* Nav */

.nav {
  background-color: #AAB2BD;
  width: 20vw;
  height: 100vh;
  border: solid 2px black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: Optima, sans-serif;
  box-shadow: 2px 2px 2px black;

}

.menu {
  font-size: 2rem;
  list-style-type: none;
}

.menu_li {
  text-decoration: none;
  color: black;
  margin-top: 2rem;
}

.nav a:hover {
  color: white;
}

.nav .fas {
  margin-right: 0.7rem;
  width: 2rem;
  display: flex;
  justify-content: center;
}

.nav-header {
  width: 100%;
  height: 15%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.img {
  background-image: url(./image/logossback.png);
  width: 85%;
  height: 100%;
  background-position: center;
  border-top-right-radius: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}


/* Main */

.main {
  width: 100%;
}



/* Home Page */
/* Modale d'ajout */

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-dialog {
  position: relative;
  background-color: white;
  height:fit-content;
  border-radius:1rem;
  padding:1rem;
}

.close-btn {
  position:absolute;
  top:1rem;
  right:1rem;
  font-size:2rem;
  display:flex;
  justify-content:center;
  align-items: center;
  font-weight: bold;
  width:2rem;
  height:2rem;

  border-radius: 0px;

}
/* 
.modal-driver {

} */

/* .modal-client {

} */

.show-modal {
  display: flex;
  z-index:50
}



/* Button */

.btn-in-modal {
  box-shadow: 3px 3px 3px black;
  border-radius: 15px;
  width: 40%;
  height: 30px;
  text-align: center;
  font-family: Optima, sans-serif;
}

.btn {
  box-shadow: 3px 3px 3px black;
  border-radius: 15px;
  width: 20%;
  height: 30px;
  text-align: center;
  font-family: Optima, sans-serif;
}

.btn:hover {
  background-color: grey;
}

.btn_submit {
  float: right;
}


/* Label et input*/
.btn-container {
  --gap:2rem;
}
input[type=radio] {
  display:none;
}

input[type=radio] + label {
  background-color: white;
  padding:0.3rem 1rem;
  border-radius: 20px;
}

input[type=radio] + label:hover {
  background-color: rgba(0, 0, 0, .1);
}

input[type=radio]:checked + label {
  background-color: blue;
}

.label_home {

  font-size: 1.3em;
  display: inline-block;
  width: 220px;
  margin: 10px;
  text-decoration: underline;

}

.input_home {
  display: inline-block;
  width: 300px;
}

.label_admin {

  font-size: 1.3em;
  display: inline-block;
  width: 220px;
  margin: 10px;
  text-decoration: underline;

}

.input_admin {
  display: inline-block;
  width: 182px;
}

.select-option {
  width: 300px;
}


/* Conteneur principale */

.container-admin {
  width: 100%;
  font-family: Optima, sans-serif;
  background-color: #AAB2BD;
  width: 98%;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  margin-left: 1rem;
  padding-left: 1rem;
}

.container {
  width: 100%;
  height: 100vh;
  font-family: Optima, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  text-decoration: underline;
}


/* Conteneur Haut */

.container_top {
  display: flex;
  background-color: #AAB2BD;
  width: 98%;
  height: 20%;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  margin-left: 1rem;
  padding-left: 1rem;

}

.titre {
  width: 50%;
}

.btn_modal {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  justify-content: right;
}

.btn_modal_pos {
  box-shadow: 3px 3px 3px black;
  border-radius: 15px;
  width: 30%;
  height: 35px;
  font-family: Optima, sans-serif;
}

.btn_modal_pos:hover {
  background-color: grey;
}

/* Conteneur Bas */

.container_bot {
  background-color: #AAB2BD;
  width: 98%;
  height: 80%;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}



